---
---

@import "{{ site.theme }}";

.anchorjs-link {
    display: none;
}

// overall margin
.container-lg {
    max-width: none;
    margin: 2% {{ site.writing_area.margin }}% 2% {{ site.writing_area.margin }}%;
    min-width: 600px;
}

// writing area styles
.container-lg.px-3.my-5.markdown-body {
    background-color: {{ site.writing_area.background_color }};
    margin-top: 0% !important;
    margin-bottom: 0 !important;
    padding: {{ site.writing_area.padding }} !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

// Link styles
a, .collapse-clicker {
    color: {{ site.font_colors.link_normal }};
    text-decoration: none;

    &:hover {
        color: {{ site.font_colors.link_normal }};
        text-decoration: underline !important;
        text-decoration-style: dotted !important;
        cursor: pointer !important;
    }

    &:active {
        color: {{ site.font_colors.link_clicked }};
        text-decoration: underline;
    }
}

.markdown-body a:not([href]) {
    color: {{ site.font_colors.link_normal }};
    text-decoration: none;

    &:hover {
        color: {{ site.font_colors.link_normal }};
        text-decoration: underline !important;
        text-decoration-style: dotted !important;
        cursor: pointer !important;
    }
    
    &:active {
        color: {{ site.font_colors.link_clicked }};
        text-decoration: underline;
    }
}

small {
    line-height: 0.75;
}

.left{
}

.right {
  margin-left: auto;
}

{%- for pair in site.fonts.normal -%}
.lang-{{ pair[0] }} {
    font-family: {{ pair[1] }};
}
{%- endfor -%}

figcaption {
    font-size: 0.8em;
    color: #666;
    text-align: center;
}

{%- if site.background.image -%}
    body {
        background-image: url('{{ site.background.image }}');
        min-height: 100%;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: 0% 0%;
    }
{%- else -%}
    body{
        background: {{ site.background.pattern }};
        background-size: {{ site.background.pattern_size }};
        background-color: {{ site.background.color }};
        background-attachment: fixed;
    }
{%- endif -%}

// Remove horizontal rule after headings
body, .markdown-body {
    color: {{ site.font_colors.normal }};
    font-size: {{ site.font_scale }};
    font-family: {{ site.fonts.default }};
    line-height: 1.3;
    text-align: justify;
    text-justify: inter-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -webkit-hyphenate-limit-chars: 6 3;
    hyphenate-limit-chars: 6 3;
}

.markdown-body h1 {
    font-family: {{ site.fonts.title }} !important;
    font-size: 1.55em !important;
    margin-top: 0 !important;
    border-bottom: 3px double {{ site.font_colors.title_underline_color }};
    font-weight: 800;
}

.markdown-body h2 {
    font-family: {{ site.fonts.title }} !important;
    font-size: 1.4em !important;
    padding: 20px 0 0 0;
    border-bottom: 1px solid {{ site.font_colors.title_underline_color }};
    font-weight: 800;
}

.markdown-body h3 {
    font-family: {{ site.fonts.title }} !important;
    font-size: 1.25em !important;
}

.markdown-body h3
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    border-bottom: 0px;
    max-width: 100%;
    font-weight: 600;
}

div.img_margin {
    float: right;
    margin-top: 4px;
    margin-left: 32px;
    margin-right: 32px;
    text-align: right;
}

.markdown-body ul ul, .markdown-body ul ol, .markdown-body ol ol, .markdown-body ol ul {
    margin-top: 4pt;
    margin-bottom: auto;
}

.wide_list ol, .wide_list ul {
    li {
        margin-bottom: 0.6em;
    }
}

ol.wide_list, ul.wide_list {
    li {
        margin-bottom: 0.6em;
    }
}

// Increase spacing between list items
ol {
    li {
        margin-bottom: auto;
    }
}

ul {
    li {
        margin-bottom: -0.1em;
    }
}

.collapse {
    display: none;
}

.details-panel {
    margin: 10px;
    padding: 3px 8px 3px 8px;
    font-size: 16px;
    border-radius: 8px;
    background-color: {{ site.details_panel.background_color }};
    text-align: justify;
    border: {{ site.details_panel.border }};
}

.end-mark{
  margin: 52px auto 32px;
  width: 75%;
  height: 16px;
  background:
    radial-gradient(circle, {{ site.font_colors.end_mark_color }} 2.5px, transparent 2.5px) center/16px 16px no-repeat,
    linear-gradient(to right, rgba(0,0,0,0), {{ site.font_colors.end_mark_color }}) left 50%/calc(50% - 12px) 1.5px no-repeat,
    linear-gradient(to right, {{ site.font_colors.end_mark_color }}, rgba(0,0,0,0)) right 50%/calc(50% - 12px) 1.5px no-repeat;
}