---
---

@media (max-width: 640px) {
    .markdown-body h1 {
        font-size: 1.5em;
        text-align: justify;
    }
    .container-lg {
        margin: 0px 5px 0px 5px;
        text-align: justify;
        min-width: 0;
    }
    img {
        display: none;
    }
    figcaption {
        display: none;
    }
    body, .markdown-body {
        font-size: 83%;
    }
    h2 {
        margin-top: 0em;
        margin-bottom: 0em;
    }
    h3 {
        margin-top: 0em;
        margin-bottom: 0em;
    }
    .details-panel {
        margin: 5px;
        padding: 3px 8px 3px 8px;
        font-size: 83%;
        border-radius: 4px;
    }
    .top-lang-bar {
        width: 100%;
        max-width: none;
        border-radius: 3pt;
        font-size: 9px;
    }
    .top-lang-bar a {
        margin: 0 8px;
    }
    #toc {
        display: none !important;
    }
    .end-mark{
        margin: 20px auto 20px;
    }
}