<head>

{% if site.google_analytics%}
{% include analytics.html %}
{% endif %}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css"
/>
<script
  src="https://cdn.jsdelivr.net/combine/npm/katex@0.12.0/dist/katex.min.js,npm/katex@0.13.18/dist/contrib/auto-render.min.js"
  async="async"
  onload='renderMathInElement(document.body, { delimiters: [{left: "$$", right: "$$", display: true}, { left: "$", right: "$", display: false }, {left: "\\(", right: "\\)", display: false}, {left: "\\[", right: "\\]", display: true}]})'
></script>

</head>
    