{%- assign papers = site.data.international_c_papers -%}
{%- assign venues = site.data.venues -%}
{%- assign know_authors = site.data.authors -%}

{%- if papers -%}
<ol>
{%- for item in papers -%}
    {%- assign title = item.title -%}
    {%- assign authors = item.authors -%}
    {%- assign venue = item.venue -%}
    {%- assign pages = item.pages -%}
    {%- if venues[venue] -%}
        {%- assign venue_name = venues[venue].name -%}
        {%- assign venue_short = venues[venue].short -%}
        {%- assign h5 = venues[venue].h5 -%}
        {%- assign infl = venues[venue].infl -%}
    {%- else -%}
        {%- assign venue_name = item.venue -%}
        {%- assign venue_short = item.venue_short -%}
        {%- assign h5 = item.h5 -%}
        {%- assign infl = item.infl -%}
    {%- endif -%}
    {%- assign year = item.year -%}
    {%- assign basic_url = item.basic_url -%}
    {%- assign urls = item.urls -%}

<li><a href="{{ basic_url }}" target="_blank"><strong>{{ title }}</strong></a><br>
{%- for author in authors -%}
    {%- if know_authors[author.name] -%}
        {%- assign author.name = know_authors[author.name] -%}
        {%- assign author.url = know_authors[author.name] -%}
    {%- endif -%}
    {%- if forloop.first == false -%}
        ,&nbsp;
    {%- endif -%}
    {%- if author.name == "Hakaze Cho" or "Yufeng Zhao" -%}
        <strong><a href="{{ https://www.hakaze-c.com/ }}" target="_blank">{{ author.name }}</a></strong>
    {%- else -%}
        {%- if author.url -%}
            <a href="{{ author.url }}" target="_blank">{{ author.name }}</a>
        {%- else -%}
            {{ author.name }}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}
<br>
<em>{{ venue_name }}</em> (<strong>{{ venue_short }}</strong>).&nbsp;
{%- if pages -%}
    {{ pages }} pages.&nbsp;
{%- endif -%}
{{ year }}.&nbsp;
{%- if h5 or infl -%} [
    {%- if h5 -%}
        h5= {{ h5 }}
    {%- endif -%}
    {%- if h5 and infl -%}
        ,&nbsp;
    {%- endif -%}
    {%- if infl -%}
        IF= {{ infl }}
    {%- endif -%}
    ]
{%- endif -%}
<br>
{%- if urls -%}
    {%- for url in urls -%}
        [<a href="{{ url.url }}" target="_blank">{{ url.label }}</a>]&nbsp;
    {%- endfor -%}
{%- endif -%}
    </li>
    {%- endfor -%}
</ol>
{%- endif -%}