{%- assign papers = site.data.preprints -%}
{%- assign know_authors = site.data.authors -%}

{%- if papers -%}
<ol>
{%- for item in papers -%}
    {%- assign title = item.title -%}
    {%- assign authors = item.authors -%}
    {%- assign venue = item.venue -%}
    {%- assign pages = item.pages -%}
    {%- assign year = item.year -%}
    {%- assign basic_url = item.basic_url -%}
    {%- assign urls = item.urls -%}

<li><a href="{{ basic_url }}" target="_blank"><strong>{{ title }}</strong></a><br>
    {%- for author in authors -%}
        {%- if know_authors[author.name] -%}
            {%- assign displayname = know_authors[author.name].name -%}
            {%- assign displayurl = know_authors[author.name].url -%}
        {%- else -%}
            {%- assign displayname = author.name -%}
            {%- assign displayurl = author.url -%}
        {%- endif -%}
        {%- if forloop.first == false -%}
            ,&nbsp;
        {%- endif -%}
        {%- if displayname == "Hakaze Cho" or displayname == "Yufeng Zhao" -%}
            <strong><a href="{{ https://www.hakaze-c.com/ }}" target="_blank">{{ displayname }}</a></strong>
        {%- else -%}
            {%- if displayurl -%}
                <a href="{{ displayurl }}" target="_blank">{{ displayname }}</a>
            {%- else -%}
                {{ displayname }}
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
<br>
Pre-print.&nbsp;{%- if pages -%}{{ pages }} pages.&nbsp;{%- endif -%}
    {%- if h5 or infl -%} [
        {%- if h5 -%}
            h5= {{ h5 }}
        {%- endif -%}
        {%- if h5 and infl -%}
            ,&nbsp;
        {%- endif -%}
        {%- if infl -%}
            IF= {{ infl }}
        {%- endif -%}
        ]
    {%- endif -%}
    <br>
    {%- if urls -%}
        {%- for url in urls -%}
            [<a href="{{ url.url }}" target="_blank">{{ url.label }}</a>]&nbsp;
        {%- endfor -%}
    {%- endif -%}
    </li>
    {%- endfor -%}
</ol>
{%- endif -%}