{%- assign papers_c = site.data.domestic_c_papers -%}
{%- assign papers_p = site.data.preprints -%}
{%- assign papers_i = site.data.international_c_papers -%}
{%- assign venues = site.data.venues -%}

{%- assign papers_all = papers_c | concat: papers_p | concat: papers_i -%}

{%- assign count_c = papers_c | size -%}
{%- assign count_p = papers_p | size -%}
{%- assign count_i = papers_i | size -%}

{%- assign count_total = count_c | plus: count_p | plus: count_i -%}

{%- assign sumpages = 0 -%}
{%- assign suminfl = 0 -%}


{%- for item in papers_all -%}
    {%- assign pages = item.pages -%}
    {%- if venues[venue] -%}
        {%- assign infl = venues[venue].infl -%}
    {%- else -%}
        {%- assign infl = item.infl -%}
    {%- endif -%}
    {%- if pages -%}
        {%- assign sumpages = sumpages | plus: item.pages -%}
    {%- endif -%}
    {%- if infl -%}
        {%- assign suminfl = suminfl | plus: item.venues[venue].infl -%}
    {%- endif -%}
{%- endfor -%}

Total Publications: {{ count_total }}, Cumulative IF: {{ suminfl }}, Total Pages: {{ sumpages }}.