{%- assign current_lang = include.lang -%}

{%- for item in site.publication_list -%}
    {%- if item.title[current_lang] -%}
        <h3 class="lang lang-{{ current_lang }} active"> {{ item.title[current_lang] }}</h3>
        {%- if item.instructions[current_lang] -%}
        <p class="lang lang-{{ current_lang }} active"><span style="font-size:0.9em">{{ item.instructions[current_lang] }}</span></p>
        {%- endif -%}
        <div class="lang lang-{{ current_lang }} active">
        {%- include publication_list_style/index.html style=item.style file=item.file -%}
        </div>
    {%- endif -%}
{%- endfor -%}