---
---
@import "{{ site.theme }}";

// Add horizontal lines at the top and bottom of the page
body::after {
    content: "";
    display: block;
    width: 100%;
    height: 1.8px;
    background-color: #000e26;
    margin: 0 auto;
}

// overall margin
.container-lg {
    max-width: none;
    margin: 20px 120px 20px 120px;
  }

// Link styles
a {
    color: #3580ff;
    text-decoration: none;

    &:hover {
        color: #3580ff;
        text-decoration: underline;
    }

    &:active {
        color: #2a66cc;
    }
}

// Remove horizontal rule after headings
h1 + hr,
h2 + hr,
h3 + hr,
h4 + hr,
h5 + hr,
h6 + hr {
    margin: 0px 0px 0px 0px;
}

body, .markdown-body {
    color: #000e26;
    background-color: white;
    font-family: "Hiragino Maru Gothic Pro", Tahoma, arial, helvetica, Sans-Serif, "Gentium Basic";
    font-size: 100%;
  }

h2 {
    font-family: "Gentium Basic";
    font-size: 1.5em;
    color: #017d63
}

h3 {
    font-family: "Gentium Basic";
    font-size: 1.2em;
}

// Line Margin 行间距
body, .markdown-body {
    line-height: 1.4;
}

div.img_margin {
    float: right;
    margin-top: 4px;
    margin-left: 32px;
    margin-right: 32px;
    text-align: right;

    img {
        margin-top: 4px;

        &::after {
            content: attr(title);
            display: block;
            font-size: 0.9em;
            color: #555;
            text-align: center;
            margin-top: 4px;
        }
    }
}