---
---

@import "{{ site.theme }}";

.anchorjs-link {
    display: none;
}

// overall margin
.container-lg {
    max-width: none;
    margin: 2% 18% 2% 18%;
    min-width: 600px;
}

// Link styles
a, .collapse-clicker {
    // color: #3580ff;
    color: #2a66cc;
    text-decoration: none;

    &:hover {
        color: #2a66cc;
        text-decoration: underline;
    }

    &:active {
        color: #070a7d;
    }
}

.container-lg.px-3.my-5.markdown-body {
    background-color: rgba(255, 255, 255, 0.95);
    margin-top: 0% !important;
    margin-bottom: 0 !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-top: 1% !important;
    padding-left: 2% !important;
    padding-right: 2% !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

small {
    line-height: 0.75;
}

.left{
  /* 保持普通块级布局，<br> 正常工作 */
}

.right {
  margin-left: auto;
}

.markdown-body a:not([href]) {
    color: #2a66cc;
    text-decoration: none;

    &:hover {
        color: #2a66cc;
        text-decoration: underline;
        cursor: pointer;
    }

    &:active {
        color: #070a7d;
        cursor: pointer;
    }
}

.top-lang-bar {
    display: flex;
    min-width: 600px;
    width: 64%;
    min-width: 0;
    box-sizing: border-box;
    padding: 6px 1.5% 6px 1.5%;
    text-align: left;
    font-size: 14px;
    font-family: system-ui, sans-serif;
    overflow-x: auto;
    margin: 0.75% auto 0.75% auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 6pt;
    border: 2pt solid #ffffff;
}

.top-lang-bar a {
    margin: 0 12px;
    color: #000000;
    text-decoration: none;
}

.top-lang-bar a:hover {
    color: #000;
    text-decoration: underline;
}

.top-lang-bar a.active {
    font-weight: 600;
    color: #000;
}

figcaption {
    font-size: 0.8em;
    color: #666;
    text-align: center;
}

{%- if site.background-image -%}
    body {
        background-image: url('{{ site.background-image }}');
        min-height: 100%;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: 0% 0%;
    }
{%- else -%}
    body{
        background: {{ site.background-pattern }};
        background-size: {{ site.background-pattern-size }};
        background-color: {{ site.background-color }};
        background-attachment: fixed;
    }
{%- endif -%}

// Remove horizontal rule after headings
body, .markdown-body {
    color: #000000;
    font-family: 'Noto Sans JP', Tahoma, arial, helvetica, Sans-Serif, "Gentium Basic";
    font-size: 100%;
    line-height: 1.3;
    text-align: justify;
    text-justify: inter-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    /* 限制短词的连字符，以避免过度断词 */
    -webkit-hyphenate-limit-chars: 6 3;
    hyphenate-limit-chars: 6 3;
}

// body, .markdown-body {
//     background-image: url('/assets/fig/background.png');
//     background-size: 160px 160px;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-position: center;
// }

h1 {
    font-family: "Gentium Basic", 'Noto Sans JP';
    font-size: 1.55em !important;
}

h2 {
    font-family: "Gentium Basic", 'Noto Sans JP';
    font-size: 1.4em;
    // color: #028390;
    color: #000000;
    padding: 20px 0 0 0;
}

h3 {
    font-family: "Gentium Basic";
    color: #000000;
    font-size: 1.1em;
}

div.img_margin {
    float: right;
    margin-top: 4px;
    margin-left: 32px;
    margin-right: 32px;
    text-align: right;
}

.markdown-body ul ul, .markdown-body ul ol, .markdown-body ol ol, .markdown-body ol ul {
    margin-top: 4pt;
    margin-bottom: auto;
}

// Increase spacing between list items
ol {
    li {
        margin-bottom: auto;
    }
}

ul {
    li {
        margin-bottom: -0.1em;
    }
}

// .markdown-body h1 {
//     border-bottom: 0px solid #000000;
// }

// .markdown-body h2 {
//     border-bottom: 0px solid #000000;
// }

.markdown-body h1 {
    border-bottom: 3px double gray;
}

.markdown-body h2 {
    border-bottom: 1px solid gray;
}

.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    border-bottom: 0px solid gray;
    width: fit-content;
    max-width: 100%;
}

.markdown-body hr {
    // background-color: #000000;
    border: none;
    border-top: 3px double gray;
    height: 0;
    margin: 24px 0 4px 0
    // position: absolute;
    // left: 0;
    // transform: translate(0px, -52px);
}

.collapse {
    display: none;
}

.details-panel {
    margin: 10px;
    padding: 3px 8px 3px 8px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #eff4ff;
    text-align: justify;
    border: 2px solid #b0c8ff;
}

@media (max-width: 640px) {
    .markdown-body h1 {
        font-size: 1.5em;
        text-align: justify;
    }
    .container-lg {
        margin: 0px 5px 0px 5px;
        text-align: justify;
        min-width: 0;
    }
    img {
        display: none;
    }
    figcaption {
        display: none;
    }
    body, .markdown-body {
        font-size: 83%;
    }
    h2 {
        margin-top: 0em;
        margin-bottom: 0em;
    }
    h3 {
        margin-top: 0em;
        margin-bottom: 0em;
    }
    .details-panel {
        margin: 5px;
        padding: 3px 8px 3px 8px;
        font-size: 83%;
        border-radius: 4px;
    }
    .top-lang-bar {
        width: 100%;
        max-width: none;
        border-radius: 3pt;
        font-size: 12px;
    }
}