---
---
@import "{{ site.theme }}";

.anchorjs-link {
    display: none;
}

// overall margin
.container-lg {
    max-width: none;
    margin: 2% 20% 2% 20%;
    min-width: 600px;
}

// Link styles
a, .collapse-clicker {
    // color: #3580ff;
    color: #2a66cc;
    text-decoration: none;

    &:hover {
        color: #2a66cc;
        text-decoration: underline;
    }

    &:active {
        color: #070a7d;
    }
}

.markdown-body a:not([href]) {
    color: #2a66cc;
    text-decoration: none;

    &:hover {
        color: #2a66cc;
        text-decoration: underline;
        cursor: pointer;
    }

    &:active {
        color: #070a7d;
        cursor: pointer;
    }
}

.top-lang-bar {
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
    padding: 6px 0;
    background: #f7f7f7;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
    font-family: system-ui, sans-serif;
    overflow-x: auto;
}

.top-lang-bar a {
    margin: 0 12px;
    color: #555;
    text-decoration: none;
}

.top-lang-bar a:hover {
    color: #000;
    text-decoration: underline;
}

.top-lang-bar a.active {
    font-weight: 600;
    color: #000;
}

figcaption {
    font-size: 0.8em;
    color: #666;
    text-align: center;
}

body{
    background: radial-gradient(circle at 10px 10px, #F2F2F2 3px, transparent 0);
    background-size: 40pt 40pt;
    background-color: #F7F7FB;
}

// Remove horizontal rule after headings
body, .markdown-body {
    color: #00112e;
    font-family: 'Noto Sans JP', Tahoma, arial, helvetica, Sans-Serif, "Gentium Basic";
    font-size: 105%;
    line-height: 1.4;
    text-align: justify;
    text-justify: inter-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    /* 限制短词的连字符，以避免过度断词 */
    -webkit-hyphenate-limit-chars: 6 3;
    hyphenate-limit-chars: 6 3;
}

// body, .markdown-body {
//     background-image: url('/assets/fig/background.png');
//     background-size: 160px 160px;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-position: center;
// }

h1 {
    font-family: "Gentium Basic", 'Noto Sans JP';
    font-size: 2em;
}

h2 {
    font-family: "Gentium Basic", 'Noto Sans JP';
    font-size: 1.5em;
    color: #028390;
    padding: 20px 0 0 0;
}

h3 {
    font-family: "Gentium Basic";
    color: #028390;
    font-size: 1.2em;
}

div.img_margin {
    float: right;
    margin-top: 4px;
    margin-left: 32px;
    margin-right: 32px;
    text-align: right;
}

// Increase spacing between list items
ol {
    li {
        margin-bottom: 0.6em;
    }
}

ul {
    li {
        margin-bottom: -0.1em;
    }
}

// .markdown-body h1 {
//     border-bottom: 0px solid #00112e;
// }

// .markdown-body h2 {
//     border-bottom: 0px solid #00112e;
// }

.markdown-body hr {
    // background-color: #00112e;
    height: .20em;
    // position: absolute;
    // left: 0;
    // transform: translate(0px, -52px);
}

.collapse {
    display: none;
}

.details-panel {
    margin: 10px;
    padding: 3px 8px 3px 8px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #e4f5ff;
    text-align: justify;
}

@media (max-width: 640px) {
    .markdown-body h1 {
        font-size: 1.5em;
        text-align: justify;
    }
    .container-lg {
        margin: 0px 5px 0px 5px;
        text-align: justify;
        min-width: 0;
    }
    img {
        display: none;
    }
    figcaption {
        display: none;
    }
    body, .markdown-body {
        font-size: 83%;
    }
    h2 {
        margin-top: 0em;
        margin-bottom: 0em;
    }
    h3 {
        margin-top: 0em;
        margin-bottom: 0em;
    }
    .details-panel {
        margin: 5px;
        padding: 3px 8px 3px 8px;
        font-size: 83%;
        border-radius: 4px;
    }
}