---
---
@import "{{ site.theme }}";

// overall margin
.container-lg {
    max-width: none;
    margin: 20px 60px 20px 60px;
  }

// Link styles
a {
    color: #3580ff;
    text-decoration: none;

    &:hover {
        color: #3580ff;
        text-decoration: underline;
    }

    &:active {
        color: #2a66cc;
    }
}

// Remove horizontal rule after headings
h1 + hr,
h2 + hr,
h3 + hr,
h4 + hr,
h5 + hr,
h6 + hr {
    margin: 0px 0px 0px 0px;
}

body, .markdown-body {
    color: black;
    background-color: white;
    font-family: "Hiragino Maru Gothic Pro", verdana, arial, helvetica, Sans-Serif, "gentium basic";
    font-size: 100%;
  }

h2 {
    color: #017d63
}

h3 {
    font-family: "gentium basic", serif;
    font-size: 1.2em;
}

body, .markdown-body {
    line-height: 1.2;
}

sub {
    vertical-align: baseline;
}